<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>

<script src="https://api.apiary.io/seeds/embed.js"></script>

<script type="text/javascript">
    var embed = new Apiary.Embed({
        subdomain: 'fresconews'
    });
</script>